In [2]:
import pandas as pd

In [3]:
nri_data = pd.read_csv('NRI_Table_Counties.csv')
nri_data['STCOUNTYFP'] = nri_data['STATEFIPS'].astype(str).str.zfill(2) + nri_data['COUNTYFIPS'].astype(str).str.zfill(3)

county_data = pd.read_csv('county_data.csv')

In [4]:
# Columns to keep: RISK_SCORE, EAL_SCORE

In [8]:
nri_data = nri_data[['STCOUNTYFP', 'RISK_SCORE', 'EAL_SCORE', 'ERQK_RISKS',
                     'RFLD_RISKS', 'CFLD_RISKS', 'HRCN_RISKS', 'TRND_RISKS',
                     'WFIR_RISKS', 'WNTW_RISKS', 'HWAV_RISKS', 'DRGT_RISKS', 'HAIL_RISKS', 'SWND_RISKS', 'RFLD_EALS', 'ERQK_EALS', 'CFLD_EALS', 'HRCN_EALS', 'TRND_EALS', 'WFIR_EALS', 'WNTW_EALS', 'HWAV_EALS', 'DRGT_EALS', 'HAIL_EALS', 'SWND_EALS']]
nri_data['STCOUNTYFP'] = nri_data['STCOUNTYFP'].astype(int)

nri_data.to_csv('nri_data.csv', index=False)

In [9]:
# Find average of each columns

nri_data['EAL_SCORE'].aggregate('mean')

50.01547508511297

In [7]:
# Select random zip code from county data, query STCOUNTYFP, and return RISK_SCORE and EAL_SCORE

random_zip = county_data.sample(1).to_dict()
print(random_zip)
st_query = int(list(random_zip['STCOUNTYFP'].values())[0])
print(st_query)


nri_data[nri_data['STCOUNTYFP'] == st_query]

{'ZIP': {3001: 95248}, 'COUNTYNAME': {3001: 'Calaveras County'}, 'STATE': {3001: 'CA'}, 'STCOUNTYFP': {3001: 6009}, 'CLASSFP': {3001: 'H1'}}
6009

,STCOUNTYFP,RISK_SCORE,EAL_SCORE,ERQK_RISKS,RFLD_RISKS,CFLD_RISKS,HRCN_RISKS,TRND_RISKS,WFIR_RISKS,WNTW_RISKS,...,ERQK_EALS,CFLD_EALS,HRCN_EALS,TRND_EALS,WFIR_EALS,WNTW_EALS,HWAV_EALS,DRGT_EALS,HAIL_EALS,SWND_EALS
191,6009,86.446071,86.443825,86.923322,34.871142,NaN,NaN,7.349666,99.427299,24.307986,...,85.639121,NaN,NaN,9.615385,99.331849,29.743114,85.48437,98.169975,5.366005,6.048387